@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "custom-variables";
@import "variables";
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif!important;
}
* {
  box-sizing: border-box;
}
.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}
body {
  color: inherit;
  background-color: #F8F8F8;
}
hr {
  border-color: #D7D8DD;
}
img {
  height: auto;
  max-width: 100%;
}
/* Colors */
.text-purple {
  color: var(--purple);
}
.text-indigo {
  color: var(--indigo);
}
.text-blue {
  color: var(--blue);
}
.text-pink {
  color: var(--pink);
}
.text-red {
  color: var(--red);
}
.text-orange {
  color: var(--orange);
}
.text-yellow {
  color: var(--yellow);
}
.text-green {
  color: var(--green);
}
.text-teal {
  color: var(--teal);
}
.text-cyan {
  color: var(--cyan);
}
/* media query */
strong {
  font-weight: 600;
}
@mixin mediaQuery($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}
// .prices-bg {
//   background-color: #7B79C9;
//   padding-top: 79px;
//   padding-bottom: 68px;
//   margin-bottom: 68px;
//   &:before {
//     margin-top: -79px;
//     position: absolute;
//     background-image: url('./scss/img/dots-teal@1x.png');
//     background-size: auto;
//     display: inline-block;
//     max-width: 100%;
//     height: 323px;
//     width: 368px;
//     content:"";
//   }
//   background-image: url('./scss/img/dots-teal@1x.png');
//   background-size: auto;
//   background-position: 100% 100%;
//   background-repeat: no-repeat;
// }
.hero-bg {
  width: 100%;
  position: absolute;
}
.navbar-toggler {
  color: #fff!important;
}
.navbar-container {
  width: 100%;
  margin-left: 95px;
  display: flex;
  @include mediaQuery(993px) {
    margin-left: 0;
  }
  .nav-link {
    margin-right: 24px;
    color: #fff;
  }
  .nav-left, .nav-right {
    @include mediaQuery(993px) {
      flex-direction: column;
    }
  }
  .nav-login {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: transparent;
    padding: 8px 15px;
  }
}
.stress-container {
  margin-top: 130px;
  color: #fff;
  .stress-header {
    text-align: center;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    margin-bottom: 40px;
  }
  .stress-body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 569px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    @include mediaQuery(576px) {
      max-width: 100%;
    }
  }
  .stress-footer {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 40px;
    @include mediaQuery(576px) {
      flex-direction: column;
    }
    .sf-left {
      height: auto;
      width: 395px;
      border: 1px solid rgba(151,151,151,0.28);
      border-radius: 4px;
      background-color: #FFFFFF;
      @include mediaQuery(576px) {
        height: 54px;
        width: 100%;
        margin-bottom: 24px;
      }
      &::-moz-placeholder {
        color: #A1A8B3;
        font-size: 16px;
        line-height: 19px;
      }
      &::-webkit-input-placeholder {
        color: #A1A8B3;
        font-size: 16px;
        line-height: 19px;
        text-indent: 10px;
      }
    }
    .signup-beta {
      color: #fff;
      background-color: #25CCE8;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-left: 15px;
      @include mediaQuery(576px) {
        margin-left: 0;
      }
    }
  }
}
.feature-parent {
  margin-top: 300px;
  background-color: transparent;
  .feature-header {
    color: #2D3940;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    text-align: center;
    margin-bottom: 40px;
  }
  .feature-body {
    margin-bottom: 96px;
    color: #434E54;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    width: 569px;
    margin-left: auto;
    margin-right: auto;
    @include mediaQuery(576px) {
      width: 100%;
    }
  }
}
.feature-container {
  text-align: center;
	height: auto;
	width: 532px;
	border-radius: 5px;
  background-color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05), 0 6px 17px 0 rgba(0,0,0,0.05);
  padding: 49px 51px 58px 51px;
  @include mediaQuery(1120px) {
    height: auto;
    width: 98%;
    padding: 2%;
  }
  @include mediaQuery(992px) {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 532px;
  }
  @include mediaQuery(576px) {
    width: 98%;
    padding: 2%;
  }
  .feature-img {
    width: 48px;
    height: 48px;
    margin-bottom: 24px;
  }
  .notifs-img, .security-img {
    height: 48px;
    margin-bottom: 24px;
  }
  .notifs-img {
    width: 42px;
  }
  .security-img {
    width: 37px;
  }
  .feature-header {
    margin-bottom: 14px;
    color: #3E3E3E;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
  }
}
.product-parent {
  margin-top: 112px!important;
  .product-header {
    margin-bottom: 24px!important;
    color: #3E3E3E;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    text-align: center;
  }
  .product-body {
    height: auto;
    width: 569px;
    color: #3E3E3E;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 96px;
    @include mediaQuery(625px) {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.manager-left-parent {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  @include mediaQuery(625px) {
    width: 100%;
  }
  @include mediaQuery(993px) {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .manager-header {
    color: #2D3940;
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    @include mediaQuery(993px) {
      margin-top: 48px;
      text-align: center;
    }
  }
  .manager-body {
    width: 500px;
    color: #434E54;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 64px;
    @include mediaQuery(993px) {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    @include mediaQuery(625px) {
      width: 100%;
    }
  }
  .manager-footer {
    @include mediaQuery(993px) {
      margin-left: auto;
      margin-right: auto;
    }
    .manager-btn {
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      text-align: center;
      letter-spacing: 2px;
      background-color: #25CCE8;
      color: #fff;
      padding: 15px 25px;
      border: none;
    }
  }
}
.manager-right-parent {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  @include mediaQuery(625px) {
    width: 100%;
  }
  @include mediaQuery(993px) {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .manager-header {
    color: #2D3940;
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    @include mediaQuery(993px) {
      margin-top: 48px;
      text-align: center;
    }
  }
  .manager-body {
    width: 500px;
    color: #434E54;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 64px;
    @include mediaQuery(993px) {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    @include mediaQuery(625px) {
      width: 100%;
    }
  }
  .manager-footer {
    @include mediaQuery(993px) {
      margin-left: auto;
      margin-right: auto;
    }
    .manager-btn {
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      text-align: center;
      letter-spacing: 2px;
      background-color: #25CCE8;
      color: #fff;
      padding: 15px 25px;
      border: none;
    }
  }
}
.product-snapshot, .active-portfolio {
  @include mediaQuery(993px) {
    margin-top: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.manage-order-parent {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 71px;
  width: 288px;
  @include mediaQuery(329px) {
    width: 100%;
  }
  .manage-order-img-container {
    align-self: center;
    width: 64px;
    height: 64px;
    margin-bottom: 40px;
  }
  .manage-order-body {
    align-self: center;
    height: auto;
    color: #434E54;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    @include mediaQuery(993px) {
      width: 100%;
    }
  }
}
.portfolio-row {
  margin-top: 160px;
}
.tracker-row {
  margin-top: 160px;
}
.security-integrations-row {
  margin-top: 160px;
}
.parent-left {
  margin-right: auto!important;
}
.parent-right {
  margin-left: auto!important;
}
.security-integrations-parent {
  width: 500px;
  @include mediaQuery(993px) {
    width: 100%;
  }
  .security-integrations-header {
    color: #2D3940;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    text-align: center;
    margin-bottom: 24px;
  }
  .security-integrations-body {
    color: #434E54;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
  }
  .security-integrations-img-container {
    margin-top: 40px;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.integration-parent {
  .integration-footer {
    margin-top: 16px;
    text-align: center;
    color: #3E3E3E;
    font-size: 14px;
    line-height: 16px;
  }
}
.footer-container {
  margin-top: 24px;
  background-color: #323A3D;
  padding-top: 49px;
  padding-bottom: 23px;
}
.get-started {
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 600;
  line-height: 24px;
  margin-top: 60px;
  @include mediaQuery(769px) {
    text-align: center;
  }
}
.footer-signup {
  margin-right: auto;
  margin-top: 16px;
  @include mediaQuery(576px) {
    flex-direction: column;
  }
  .footer-left {
    height: auto;
    width: 395px;
    border: 1px solid rgba(151,151,151,0.28);
    border-radius: 4px;
    background-color: #FFFFFF;
    @include mediaQuery(576px) {
      height: 54px;
      width: 100%;
      margin-bottom: 24px;
    }
    &::-moz-placeholder {
      color: #A1A8B3;
      font-size: 16px;
      line-height: 19px;
    }
    &::-webkit-input-placeholder {
      color: #A1A8B3;
      font-size: 16px;
      line-height: 19px;
      text-indent: 10px;
    }
  }
  .signup-beta {
    color: #fff;
    background-color: #25CCE8;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
    @include mediaQuery(576px) {
      margin-left: 0;
    }
  }
}
.footer-address {
  color: #FFFFFF;
  margin-top: 93px;
	font-size: 14px;
  line-height: 16px;
  @include mediaQuery(769px) {
    text-align: center;
  }
}
.footer-right {
  color: #fff;
  .fm-header {
    margin-bottom: 26px;
  }
}
.fl-logo-img {
  display: block;
  @include mediaQuery(769px) {
    display: none;
  }
}
.fr-logo-img {
  display: none;
  @include mediaQuery(769px) {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 24px;
  }
}