@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "custom-variables";
@import "variables";
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
  font-family: "Maison Neue", sans-serif;
  color: #29313E;
}
h3 {
  font-size: 1.3rem;
  line-height: 1.4;
}
body {
  font-family: "Maison Neue", sans-serif;
}
* {
  box-sizing: border-box;
}
.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}
body {
  color: inherit;
  background-color: #fff;
}
hr {
  border-color: #D7D8DD;
}
img {
  height: auto;
  max-width: 100%;
}
.overflow-hidden {
  overflow: hidden!important;
}
/* Colors */
.text-purple {
  color: var(--purple);
}
.text-indigo {
  color: var(--indigo);
}
.text-blue {
  color: var(--blue);
}
.text-pink {
  color: var(--pink);
}
.text-red {
  color: var(--red);
}
.text-orange {
  color: var(--orange);
}
.text-yellow {
  color: var(--yellow);
}
.text-green {
  color: var(--green);
}
.text-teal {
  color: var(--teal);
}
.text-cyan {
  color: var(--cyan);
}
/* media query */
strong {
  font-weight: 600;
}
@mixin mediaQuery($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}
.parent-left {
  margin-right: auto;
}
.parent-right {
  margin-left: auto;
}
// .prices-bg {
//   background-color: #7B79C9;
//   padding-top: 79px;
//   padding-bottom: 68px;
//   margin-bottom: 68px;
//   &:before {
//     margin-top: -79px;
//     position: absolute;
//     background-image: url('./scss/img/dots-teal@1x.png');
//     background-size: auto;
//     display: inline-block;
//     max-width: 100%;
//     height: 323px;
//     width: 368px;
//     content:"";
//   }
//   background-image: url('./scss/img/dots-teal@1x.png');
//   background-size: auto;
//   background-position: 100% 100%;
//   background-repeat: no-repeat;
// }

// .navbar-dark .navbar-nav .nav-link {
//   font-weight: 600;
//   color: #aaa!important;
// }
.navbar-light .navbar-nav .nav-link {
  font-weight: 500;
  color: #aaa!important;
}
.sign-in {
  border-left: 1px solid #777;
  @include mediaQuery(769px) {
    padding-left: 0!important;
    border-left: 0;
  }
}
.get-started {
  background-color: #818FEE;
  padding: 10px 25px;
  border-radius: 8px;
}
.financial-container {
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
  @include mediaQuery(1320px) {
    margin-left: auto;
    padding-left: 15px;
  }
  @include mediaQuery(769px) {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  .financial-row {
    margin: 0;
    @include mediaQuery(769px) {
      margin: 0;
    }
  }
  .financial-col {
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    @include mediaQuery(769px) {
      margin: 0;
      padding: 0;
    }
  }
}
.financial-col-2 {
  display: none;
  @include mediaQuery(769px) {
    display: block;
  }
}
.financial-parent {
  margin-left: -15px;
  @include mediaQuery(1320px) {
    margin-left: 0;
  }
  @include mediaQuery(769px) {
    flex-direction: column;
  }
  .parent-left {
    margin-top: 120px;
    @include mediaQuery(769px) {
      order: 1;
      display: none;
    }
  }
  .financial-img-container {
    @include mediaQuery(769px) {
      order: 0;
    }
  }
}
.fp-header {
  color: #29313E;
  margin: 0 0 10px;
  line-height: 1.1;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.fp-body {
  font-size: 1.5rem;
  line-height: 1.4;
  color: #aaa;
  max-width: 425px;
  width: 100%;
  margin-bottom: 1rem;
}
.get-free {
  background-color: #818FEE;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  @include mediaQuery(769px) {
    width: 100%;
    font-size: 0.9rem;
  }
}
.financial-img-container {
  z-index: -1;
  max-width: 840px;
  width: 100%;
  .financial-img {
    background-color: transparent;
    max-width: inherit;
    width: inherit;
    position: relative;
    right: -20%;
    @include mediaQuery(769px) {
      right: -6%;
    }
  }
}
.featured-on {
  margin-top: 30px;
  margin-bottom: 30px;
}
.company {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.personal-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  @include mediaQuery(769px) {
    margin-top: 30px;
  }
}
.personal-content-title {
  font-size: 1.3rem;
}
.personal-content-body {
  line-height: 1.8;
  font-size: 1rem;
}
.bleed-img {
  height: 475px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.award-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  @include mediaQuery(769px) {
    margin-bottom: 30px;
  }
}
.award-right-parent {
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.06), 0 0 0 1px rgba(0, 0, 0, 0.06);
}
.award-right-img-container {
  margin-right: 12px;
}
.fiduciary-parent {
  .fiduciary-header {
    line-height: 1.4;
    font-size: 1.5rem;
  }
  .fiduciary-body {
    line-height: 1.9;
    font-size: 1rem;
  }
}
.how-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.how-item-parent {  
  .hi-number {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    border-radius: 40px;
    margin-bottom: 20px;
    box-shadow: 0 0 0 2px #818FEE inset;
    color: #818FEE;
    font-weight: 500;
    font-size: 1.5rem;
  }
  .hi-header {
    line-height: 1.4;
    font-size: 1.3rem;
  }
  .hi-body {
    margin-top: 12px;
    line-height: 1.8;
    font-size: 1.1rem;
  }
}

.learn-parent {
  margin-top: 60px;
  .learn-bg {
    background-image: url('./scss/img/home-splash.jpg');
    background-size: cover;
    max-width: 100%;
    width: 650px;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    content:"";
  }
}
.lc-parent {
  background-color: #fff;
  padding: 50px;
  width: 463px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.06), 0 0 0 1px rgba(0, 0, 0, 0.06);
  @include mediaQuery(576px) {
    width: 100%;
  }
  .lc-header {
    text-align: center;
    font-size: 2rem;
  }
  .lc-subheader {
    font-size: 1.2rem;
    color: #aaa;
    margin-bottom: 10px;
    text-align: center;
  }
  .lc-reg-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    @include mediaQuery(769px) {
      margin-left: 0;
      margin-right: 0;
    }
    .lc-reg-btn {
      background-color: #818FEE;
      padding: 10px 25px;
      border-radius: 8px;
      font-size: 1rem;
      font-weight: 600;
      @include mediaQuery(769px) {
        width: 100%;
      }
    }
  }
  .lc-footer {
    font-size: 0.9rem;
    text-align: center;
  }
}
.citations-parent {
  margin-top: 100px;
  width: 580px;
  margin-left: auto;
  margin-right: auto;
  @include mediaQuery(576px) {
    width: 100%;
  }
  .citations-header {
    font-size: 0.8rem;
    color: #aaa;
    text-transform: uppercase;
  }
  .citations-item {
    .ci-number {
      min-width: 15px;
      border: 1px solid #dbdffa;
      color: #818FEE;
      border-radius: 4px;
      text-align: center;
      padding: 0 3px;
      box-sizing: border-box;
      margin-left: 3px;
      margin-right: 5px;
      margin-top: 10px;
      font-size: 0.8rem;
    }
    .ci-content {
      margin-top: 10px;
      color: #aaa;
      font-size: 0.9rem;
      @include mediaQuery(576px) {
        width: 100%;
      }
    }
  }
}
.about-parent {
  margin-top: 200px;
  color: #aaa;
  font-size: 0.9rem;
  padding-bottom: 30px;
  border-bottom: 1px dotted #e1e1e1;
}
.about-title {
  margin-bottom: 15px;
}
.about-1 {
  margin-right: 200px;
  @include mediaQuery(576px) {
    margin-right: 0;
    flex-grow: 1;
  }
}
.about-2 {
  @include mediaQuery(576px) {
    margin-right: 0;
    flex-grow: 1;
  }
}
.about-3 {
  margin-left: auto;
  @include mediaQuery(576px) {
    margin-right: 0;
    flex-grow: 1;
  }
  .address1 {
    margin-bottom: 4px;
  }
}
.about-item {
  margin-bottom: 5px;
}
.footer-message {
  padding-top: 15px;
  padding-bottom: 25px;
  color: #aaa;
  font-size: 0.9rem;
}
.bleed-row {
  margin-top: 60px!important;
}
.how-row {
  margin-top: 60px;
}