/*
* Orson http://en.orson.io , autreplanete http://www.autreplanete.com/
*
**/
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important; }

* {
  box-sizing: border-box; }

.loader-hidden {
  display: none; }

.loader-active {
  display: block; }

body {
  color: inherit;
  background-color: #F8F8F8; }

hr {
  border-color: #D7D8DD; }

img {
  height: auto;
  max-width: 100%; }

/* Colors */
.text-purple {
  color: var(--purple); }

.text-indigo {
  color: var(--indigo); }

.text-blue {
  color: var(--blue); }

.text-pink {
  color: var(--pink); }

.text-red {
  color: var(--red); }

.text-orange {
  color: var(--orange); }

.text-yellow {
  color: var(--yellow); }

.text-green {
  color: var(--green); }

.text-teal {
  color: var(--teal); }

.text-cyan {
  color: var(--cyan); }

/* media query */
strong {
  font-weight: 600; }

.hero-bg {
  width: 100%;
  position: absolute; }

.navbar-toggler {
  color: #fff !important; }

.navbar-container {
  width: 100%;
  margin-left: 95px;
  display: flex; }
  @media screen and (max-width: 993px) {
    .navbar-container {
      margin-left: 0; } }
  .navbar-container .nav-link {
    margin-right: 24px;
    color: #fff; }
  @media screen and (max-width: 993px) {
    .navbar-container .nav-left, .navbar-container .nav-right {
      flex-direction: column; } }
  .navbar-container .nav-login {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: transparent;
    padding: 8px 15px; }

.stress-container {
  margin-top: 130px;
  color: #fff; }
  .stress-container .stress-header {
    text-align: center;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    margin-bottom: 40px; }
  .stress-container .stress-body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 569px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: center; }
    @media screen and (max-width: 576px) {
      .stress-container .stress-body {
        max-width: 100%; } }
  .stress-container .stress-footer {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 40px; }
    @media screen and (max-width: 576px) {
      .stress-container .stress-footer {
        flex-direction: column; } }
    .stress-container .stress-footer .sf-left {
      height: auto;
      width: 395px;
      border: 1px solid rgba(151, 151, 151, 0.28);
      border-radius: 4px;
      background-color: #FFFFFF; }
      @media screen and (max-width: 576px) {
        .stress-container .stress-footer .sf-left {
          height: 54px;
          width: 100%;
          margin-bottom: 24px; } }
      .stress-container .stress-footer .sf-left::-moz-placeholder {
        color: #A1A8B3;
        font-size: 16px;
        line-height: 19px; }
      .stress-container .stress-footer .sf-left::-webkit-input-placeholder {
        color: #A1A8B3;
        font-size: 16px;
        line-height: 19px;
        text-indent: 10px; }
    .stress-container .stress-footer .signup-beta {
      color: #fff;
      background-color: #25CCE8;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-left: 15px; }
      @media screen and (max-width: 576px) {
        .stress-container .stress-footer .signup-beta {
          margin-left: 0; } }

.feature-parent {
  margin-top: 300px;
  background-color: transparent; }
  .feature-parent .feature-header {
    color: #2D3940;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    text-align: center;
    margin-bottom: 40px; }
  .feature-parent .feature-body {
    margin-bottom: 96px;
    color: #434E54;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    width: 569px;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 576px) {
      .feature-parent .feature-body {
        width: 100%; } }

.feature-container {
  text-align: center;
  height: auto;
  width: 532px;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 17px 0 rgba(0, 0, 0, 0.05);
  padding: 49px 51px 58px 51px; }
  @media screen and (max-width: 1120px) {
    .feature-container {
      height: auto;
      width: 98%;
      padding: 2%; } }
  @media screen and (max-width: 992px) {
    .feature-container {
      margin-left: auto;
      margin-right: auto;
      height: auto;
      width: 532px; } }
  @media screen and (max-width: 576px) {
    .feature-container {
      width: 98%;
      padding: 2%; } }
  .feature-container .feature-img {
    width: 48px;
    height: 48px;
    margin-bottom: 24px; }
  .feature-container .notifs-img, .feature-container .security-img {
    height: 48px;
    margin-bottom: 24px; }
  .feature-container .notifs-img {
    width: 42px; }
  .feature-container .security-img {
    width: 37px; }
  .feature-container .feature-header {
    margin-bottom: 14px;
    color: #3E3E3E;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center; }

.product-parent {
  margin-top: 112px !important; }
  .product-parent .product-header {
    margin-bottom: 24px !important;
    color: #3E3E3E;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    text-align: center; }
  .product-parent .product-body {
    height: auto;
    width: 569px;
    color: #3E3E3E;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 96px; }
    @media screen and (max-width: 625px) {
      .product-parent .product-body {
        width: 100%;
        margin-left: auto;
        margin-right: auto; } }

.manager-left-parent {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px; }
  @media screen and (max-width: 625px) {
    .manager-left-parent {
      width: 100%; } }
  @media screen and (max-width: 993px) {
    .manager-left-parent {
      justify-content: center;
      margin-left: auto;
      margin-right: auto; } }
  .manager-left-parent .manager-header {
    color: #2D3940;
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px; }
    @media screen and (max-width: 993px) {
      .manager-left-parent .manager-header {
        margin-top: 48px;
        text-align: center; } }
  .manager-left-parent .manager-body {
    width: 500px;
    color: #434E54;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 64px; }
    @media screen and (max-width: 993px) {
      .manager-left-parent .manager-body {
        text-align: center;
        margin-left: auto;
        margin-right: auto; } }
    @media screen and (max-width: 625px) {
      .manager-left-parent .manager-body {
        width: 100%; } }
  @media screen and (max-width: 993px) {
    .manager-left-parent .manager-footer {
      margin-left: auto;
      margin-right: auto; } }
  .manager-left-parent .manager-footer .manager-btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    background-color: #25CCE8;
    color: #fff;
    padding: 15px 25px;
    border: none; }

.manager-right-parent {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px; }
  @media screen and (max-width: 625px) {
    .manager-right-parent {
      width: 100%; } }
  @media screen and (max-width: 993px) {
    .manager-right-parent {
      justify-content: center;
      margin-left: auto;
      margin-right: auto; } }
  .manager-right-parent .manager-header {
    color: #2D3940;
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px; }
    @media screen and (max-width: 993px) {
      .manager-right-parent .manager-header {
        margin-top: 48px;
        text-align: center; } }
  .manager-right-parent .manager-body {
    width: 500px;
    color: #434E54;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 64px; }
    @media screen and (max-width: 993px) {
      .manager-right-parent .manager-body {
        text-align: center;
        margin-left: auto;
        margin-right: auto; } }
    @media screen and (max-width: 625px) {
      .manager-right-parent .manager-body {
        width: 100%; } }
  @media screen and (max-width: 993px) {
    .manager-right-parent .manager-footer {
      margin-left: auto;
      margin-right: auto; } }
  .manager-right-parent .manager-footer .manager-btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    background-color: #25CCE8;
    color: #fff;
    padding: 15px 25px;
    border: none; }

@media screen and (max-width: 993px) {
  .product-snapshot, .active-portfolio {
    margin-top: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto; } }

.manage-order-parent {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 71px;
  width: 288px; }
  @media screen and (max-width: 329px) {
    .manage-order-parent {
      width: 100%; } }
  .manage-order-parent .manage-order-img-container {
    align-self: center;
    width: 64px;
    height: 64px;
    margin-bottom: 40px; }
  .manage-order-parent .manage-order-body {
    align-self: center;
    height: auto;
    color: #434E54;
    font-size: 16px;
    line-height: 25px;
    text-align: center; }
    @media screen and (max-width: 993px) {
      .manage-order-parent .manage-order-body {
        width: 100%; } }

.portfolio-row {
  margin-top: 160px; }

.tracker-row {
  margin-top: 160px; }

.security-integrations-row {
  margin-top: 160px; }

.parent-left {
  margin-right: auto !important; }

.parent-right {
  margin-left: auto !important; }

.security-integrations-parent {
  width: 500px; }
  @media screen and (max-width: 993px) {
    .security-integrations-parent {
      width: 100%; } }
  .security-integrations-parent .security-integrations-header {
    color: #2D3940;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    text-align: center;
    margin-bottom: 24px; }
  .security-integrations-parent .security-integrations-body {
    color: #434E54;
    font-size: 20px;
    line-height: 35px;
    text-align: center; }
  .security-integrations-parent .security-integrations-img-container {
    margin-top: 40px; }
    .security-integrations-parent .security-integrations-img-container img {
      display: block;
      margin-left: auto;
      margin-right: auto; }

.integration-parent .integration-footer {
  margin-top: 16px;
  text-align: center;
  color: #3E3E3E;
  font-size: 14px;
  line-height: 16px; }

.footer-container {
  margin-top: 24px;
  background-color: #323A3D;
  padding-top: 49px;
  padding-bottom: 23px; }

.get-started {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 60px; }
  @media screen and (max-width: 769px) {
    .get-started {
      text-align: center; } }

.footer-signup {
  margin-right: auto;
  margin-top: 16px; }
  @media screen and (max-width: 576px) {
    .footer-signup {
      flex-direction: column; } }
  .footer-signup .footer-left {
    height: auto;
    width: 395px;
    border: 1px solid rgba(151, 151, 151, 0.28);
    border-radius: 4px;
    background-color: #FFFFFF; }
    @media screen and (max-width: 576px) {
      .footer-signup .footer-left {
        height: 54px;
        width: 100%;
        margin-bottom: 24px; } }
    .footer-signup .footer-left::-moz-placeholder {
      color: #A1A8B3;
      font-size: 16px;
      line-height: 19px; }
    .footer-signup .footer-left::-webkit-input-placeholder {
      color: #A1A8B3;
      font-size: 16px;
      line-height: 19px;
      text-indent: 10px; }
  .footer-signup .signup-beta {
    color: #fff;
    background-color: #25CCE8;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px; }
    @media screen and (max-width: 576px) {
      .footer-signup .signup-beta {
        margin-left: 0; } }

.footer-address {
  color: #FFFFFF;
  margin-top: 93px;
  font-size: 14px;
  line-height: 16px; }
  @media screen and (max-width: 769px) {
    .footer-address {
      text-align: center; } }

.footer-right {
  color: #fff; }
  .footer-right .fm-header {
    margin-bottom: 26px; }

.fl-logo-img {
  display: block; }
  @media screen and (max-width: 769px) {
    .fl-logo-img {
      display: none; } }

.fr-logo-img {
  display: none; }
  @media screen and (max-width: 769px) {
    .fr-logo-img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 24px; } }
